<?xml version="1.0"?>
<phpunit
  colors="true"
  cacheDirectory=".phpunit.cache"
  bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="unit">
      <directory>test/phpUnitTests/</directory>
    </testsuite>
  </testsuites>
  <source>
		<include>
			<directory>./src</directory>
		</include>
	</source>
  <coverage processUncoveredFiles="true">
		<report>
			<html outputDirectory="build/coverage-report"/>
		</report>
    </coverage>
</phpunit>
